button {
  color: white;
  background-color: #4caf50;
  padding: 14px 20px;
  margin: 8px 10px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

.delete {
  background-color: #f44336;
}

.create {
  background-color: #2196f3;
}

.update {
  background-color: #ff9800;
}

.cancel {
  background-color: gray;
}

.back {
  width: 150px;
  height: 50px;
  text-align: center;
  background-color: #4caf50;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
}

.back:hover {
  background-color: #388e3c;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
  transform: translateY(-2px);
}

.back:focus {
  outline: none;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3), 0px 0px 0px 2px #fff;
}
