.details_link {
  color: #2196f3;
  text-decoration: none;
}
.details_link:hover {
  text-decoration: underline;
}

.Product_Card {
  border: 1px solid #ccc;
  border-radius: 4px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 300px;
}

.Product_Card img {
  width: 200px;
  height: 200px;
  object-fit: contain;
}

@media screen and (max-width: 767px) {
  .Product_Card {
    border: none;
    width: 100%;
  }
}

.Product_Price {
  font-weight: bold;
  color: #2196f3;
  text-decoration: none;
  padding: 10px;
}

.Products_Menu {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: auto;
  justify-content: center;
}
