nav {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
  padding-top: 10px;
}
.navigation {
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  background-color: hsla(248, 31%, 5%, 0.815);
  overflow: hidden;
  margin-bottom: 10px;
}

nav ul li,
.logo {
  list-style-type: none;
  display: inline-block;
  padding: 10px 25px;
}

.nav-link {
  text-decoration: none;
  cursor: pointer;
  color: white;
}

.nav-link:hover,
.nav-link:focus {
  color: #8c7ae6;
}
.nav-link:active {
  color: red;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
  text-decoration: none;
}

.logo,
h2 .nav-link {
  text-shadow: 2px 2px blue;
}

@media screen and (max-width: 768px) {
  .logo {
    display: none;
  }
  nav {
    font-size: 0.85em;
    justify-content: space-around;
    border-bottom: 1px #8c7ae6 solid;
  }
  .navigation {
    position: static;
    flex-direction: column;
  }

  li {
    padding: 2%;
  }
}

@media screen and (max-width: 481px) {
  nav ul li {
    display: block;
    text-align: center;
    font-size: 1rem;
  }
  h1 {
    font-size: 1.5rem;
  }
}
