.orders {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
  padding: 0 20px;
  box-sizing: border-box;
  border: 1px solid #ccc;
}

.order {
  display: flex;
  flex-direction: column;
  margin: 20px 0;
  padding: 20px;
  border: 1px solid #ccc;
}

.orderItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ccc;
}

.totalPrice {
  color: red;
}
