h1 {
  color: blueviolet;
}

button {
  color: white;
  background-color: #4caf50;
  padding: 14px 20px;
  margin: 8px 10px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

input {
  padding: 12px 20px;
  margin: 8px 10px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.delete_button {
  background-color: #f44336;
}

.create_button {
  background-color: #2196f3;
}

.update_button {
  background-color: #ff9800;
}

.details_link {
  color: #2196f3;
  text-decoration: none;
}
.details_link:hover {
  text-decoration: underline;
}
